- var menu = { 'Направления': '#', 'Активности': '#', 'Магазин': '#', 'Новости': '#', 'Контакты': '#'};

header.main-header
  include main-nav.pug
  div(class="wrapper wrapper--small")  
    include main-title.pug

  
  
