//services
div.services
  p.services__text
    | Мы предлагаем посетителям услуги, например, место в гостевом доме или размещение палатки в пикниковой точке:
  a.services__ext-link(href="#")
    | Наши услуги  цены
  div.services__contacts
    p.services__text Закажите услуги у оператора:
    div.services__contact
      a(href="#") +7 (5555) 222-222
      span Пн-пт с 9…13 и 14...18. 
    div.services__contact
      a(href="#") info@email.ru
      span Ответим в течение суток. 
