
include ../mixins/svg-icon.pug
table(class=["table table--visitor"])
  thead
    tr
      th.table__action
      th.table__visitor-info ФИО
      th.table__visitor-date Дата рождения
      th.table__visitor-sex Пол
      th.table__visitor-contact Телефон и эл. почта
      th.table__visitor-doc Документ
      th.table__visitor-location Город
      th.table__visitor-sale Льгота
  tbody
    tr
      td.table__action
        +icon('pencil', 'sprite-inline-general', 'table__icon table__icon--pencil')
      td.table__visitor-info
        span.table__visitor-surname
          |Христорождественский
        span.table__visitor-name
          |Дмитрий Юрьевич
      td.table__visitor-date
        | 04.11.1996
      td.table__visitor-sex
        +icon('man', 'sprite-inline-general', 'table__icon table__icon--sex')
        | M 
      td.table__visitor-contact
          |+7 926 338-66-97
      td.table__visitor-doc
        |Паспорт
        span.table__small
          |4432 7781994
      td.table__visitor-location
        | Петропавловск-Камчатский
        span.table__small
          | Россия
      td.table__visitor-sale
        | 50%
        span.table__small
          |студент
    tr
      td.table__action
        +icon('pencil', 'sprite-inline-general', 'table__icon table__icon--pencil')
      td.table__visitor-info
        span.table__visitor-surname
          |Лапина
        span.table__visitor-name
          |Вероника Григорьевна 
      td.table__visitor-date
        |19.12.1984
      td.table__visitor-sex
        +icon('woman', 'sprite-inline-general', 'table__icon table__icon--sex')
        | Ж 
      td.table__visitor-contact
          |+7 980 895-78-90
          span.table__small
            |LapinaVeronika298@yandex.ru
      td.table__visitor-doc
        |Паспорт
        span.table__small
          |4432 7781994
      td.table__visitor-location
        | Ноябрьск
        span.table__small
          | Россия
      td.table__visitor-sale
    tr
      td.table__action
        +icon('pencil', 'sprite-inline-general', 'table__icon table__icon--pencil')
      td.table__visitor-info
        span.table__visitor-surname
          |Чапко
        span.table__visitor-name
          |Фаина Аркадьевна 
      td.table__visitor-date
        |02.08.1994
      td.table__visitor-sex
        +icon('woman', 'sprite-inline-general', 'table__icon table__icon--sex')
        | Ж 
      td.table__visitor-contact
      td.table__visitor-doc
        |Паспорт
        span.table__small
          |4432 7781994
      td.table__visitor-location
        | Киквидзе
        span.table__small
          | Армения
      td.table__visitor-sale
        | 50%
        span.table__small
          |студент
    tr
      td.table__action
        +icon('pencil', 'sprite-inline-general', 'table__icon table__icon--pencil')
      td.table__visitor-info
        span.table__visitor-surname
          |Баранов
        span.table__visitor-name
          |Даниил Сергеевич
      td.table__visitor-date
        |14.07.1992
      td.table__visitor-sex
        +icon('man', 'sprite-inline-general', 'table__icon table__icon--sex')
        | М 
      td.table__visitor-contact
        span.table__small
         |BaranovDanila143@yandex.ru
      td.table__visitor-doc
        |Паспорт
        span.table__small
          |4432 7781994
      td.table__visitor-location
        | Серов
        span.table__small
          | Россия
      td.table__visitor-sale

    
    
    
      
    
  
  
