html
  include includes/head.pug
  body
    .wrapper
      h1 List of pages of Piter Excursions site
      a(href="step-1.html" target="_blanc" style="font-size: 20px; display: block; margin-bottom: 40px;color:#000000") Step One
      a(href="step-2.html" target="_blanc" style="font-size: 20px;  display: block; margin-bottom: 40px") Step Two
      a(href="step-3.html" target="_blanc" style="font-size: 20px;  display: block; margin-bottom: 40px") Step Three
